.about_section {
  padding: 5rem 0 5rem 0;
  background-color: $secondary;
  h2 {
    font-family: $header;
    font-size: 2.5rem;
    letter-spacing: 0.155rem;
  }
  h3 {
    font-size: 2rem;
    font-family: $header;
    letter-spacing: 0.1rem;
  }
  p {
    font-family: $p_copy;
    font-size: 1.3rem;
  }
  .about_card {
    background-color: $white;
    color: $black;
  }
}
