.banner_section {
  padding: 10rem 0 5rem 0;
  background-color: $black;
  h1 {
    font-family: $header;
    font-size: 4rem;
    letter-spacing: 0.155rem;
  }

  .banner_text {
    font-size: 1.8rem;
    color: $white;
    font-family: $p_copy;
  }
  .banner_btn {
    background-color: $primary;
    font-size: 2rem;
    font-family: $header;
    letter-spacing: 0.1rem;
    box-shadow: 0 0 0.5rem 0.1rem rgb(85, 85, 85);
  }
}
