.contact_info {
  background-color: $secondary;
  h2 {
    color: $white;
    font-size: 2rem;
    font-family: $header;
  }

  .contact_list_item {
    background-color: $secondary;
    color: $white;
    font-size: 2rem;
    font-family: $p_copy;
    span {
      font-family: $header;
      letter-spacing: 0.2rem;
    }
  }
}
