.footer_section {
  background-color: $secondary;
  a {
    color: $primary;
    :hover {
      color: antiquewhite;
    }
    .bi-arrow-up-circle {
      padding: 0 2rem 0 0;
    }
  }
  .copyright {
    padding: 2rem 0 0 0;
    font-size: 1.5rem;
    font-family: $p_copy;
  }
}
