.navbar {
  background-color: $primary;
  color: $white;

  .nav_logo {
    color: aqua;
    font-size: 2rem;
  }
  .nav-link {
    color: black;
    font-size: 1.5rem;
    font-family: $p_copy;
  }
}
