.navbar {
  background-color: $primary;

  .nav_logo {
    font-size: 2rem;
    font-family: $header;
    color: $black;
  }

  .nav-link {
    color: $black;
    font-size: 1.5rem;
    font-family: $p_copy;
    .nav-link:focus {
      color: blueviolet;
    }
    :hover {
      color: white;
    }
  }
}
