.navbar {
  background-color: $primary;

  .nav_logo {
    font-size: 2rem;
    font-family: $header;
    color: $black;
  }
  .nav-link {
    font-size: 1.5rem;
    font-family: $p_copy;
    color: $black;
  }
  .nav-link:focus,
  .nav-link:hover {
    color: $white;
    text-decoration: underline;
  }
}
