.questions_section {
  padding: 5rem 0 5rem 0;
  background-color: $secondary;
  h2 {
    color: $white;
    font-family: $header;
  }
  .accordion_card {
    border: none;
  }
  .questions_button {
    padding: 0 0 0 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    width: 100%;
    text-align: left;
    font-family: $header;
  }
  .accordion_header {
    background-color: $secondary;
  }
  .accordion_body {
    background-color: $secondary;
  }
  .accordion_text {
    color: $white;
    font-family: $p_copy;
    font-size: 1.35rem;
  }
}
